* {
  box-sizing: border-box;
}

body {
  background-color: hsl(180, 52%, 96%);
  margin: 0;
}

header {
  height: 10%;
  background-color: hsl(180, 29%, 50%);
  background-image: url("../images/bg-header-desktop.svg");
  text-align: center;
}

footer {
  height: 5%;
  display: flex;
  align-content: center;
  justify-content: center;
}

main {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.listingContainer {
  display: flex;
  flex-direction: column;
  margin: 0% 10% 5% 10%;
}

.jobList {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 5px 5px 5px hsl(180, 20%, 81%);
  padding: 10px;
  margin: 10px;
  height: 125px;
}

.companyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 5px;
}

.jobDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  padding-left: 2%;
}

.jobTags {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  max-width: 50%;
}

.jobTag {
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.jobTag:hover {
  color: white;
  background-color: hsl(180, 29%, 50%);
}
.companyDescription {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.companyName {
  font-weight: bolder;
  color: hsl(180, 29%, 50%);
  padding: 7px 0px 4px 0px;
  font-weight: 700;
}

.jobPosition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  font-size: large;
}

.pillShape {
  border-radius: 16px;
  padding: 9px 10px 0px 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: small;
}

.newPosting {
  background-color: hsl(180, 29%, 50%);
  color: white;
}

.featuredPosting {
  background-color: black;
  color: white;
}

.aboutJob {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  color: hsl(180, 2%, 43%);
}

.aboutJobDetail {
  margin-right: 5%;
}

.dotElement {
  margin-right: 5%;
  font-weight: bolder;
}

.darkBorderLeft {
  border-left: 5px;
  border-left-color: hsl(180, 29%, 50%);
  border-left-style: solid;
}

.listingFilter {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  background: white;
  position: relative;
  top: -40px;
  border-radius: 10px;
  margin: 0% 10% 0% 10%;
  height: 80px;
  padding: 0px 20px;
}
.filterContainer {
  display: flex;
  width: 100%;
}
.filterTag {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.filterContent {
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
  padding-right: 10px;
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  font-weight: bold;
}
.filterCross {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  background-color: hsl(180, 29%, 50%);
  color: white;
  font-weight: bold;
  font-size: x-large;
}
.clearBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.filterBox {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.clearFilter {
  color: hsl(180, 29%, 50%);
  font-weight: bolder;
  text-decoration: underline;
  cursor: pointer;
}

@media all and (max-width: 400px) {
  .jobList {
    flex-direction: column;
    height: unset;
    position: relative;
    margin-top: 40px;
  }
  .companyLogo {
    position: absolute;
    top: -40px;
    left: -5px;
  }
  .companyLogo > img {
    width: 70px;
  }
  .main {
    font-size: 12px;
  }
  .aboutJob {
    font-size: x-small;
  }
  .pillShape {
    font-size: xx-small;
  }
  .jobPosition {
    font-size: small;
  }
  .jobTags {
    justify-content: flex-start;
    max-width: unset;
    margin-top: 10px;
  }
  .jobTag {
    font-size: small;
  }
  .jobDescription {
    margin-top: 30px;
  }

  .listingFilter {
    height: unset;
    padding: 5px;
  }
  .filterBox {
    flex-wrap: wrap;
  }
  .filterContainer {
    font-size: x-small;
  }
  .filterCross {
    font-size: x-small;
  }
  .filterTag {
    margin-top: 5px;
  }
}
/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 500, 700

*/ ;
